<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>

        <li>
          <a href="">
            Nos réalisations
          </a>
        </li>
        <li>
          <a href="">
            Licenses Infinty Media
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-left">
      &copy;
      {{test | date: 'yyyy'}}, Créer par
      <a href="" target="_blank">Infinity Media</a> Stockage des documents.
    </div>
  </div>
</footer>
